*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.wrapper {
    width: 100%;
    max-width: 300px;
    background: rgba(172, 73, 73, 0.15);
    border: 1px solid rgba(255, 255, 255, .25);
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 20px;
    padding: 40px 30px;
}

.wrapper h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 40px;
    display: flex;
    align-items: center;
    position: relative;
}
.input-field input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    padding: 0 30px 0 10px;
    font-size: 14px;
}

.input-group .input-field::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.input-field i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(59, 55, 55, 0.7);
}

.wrapper .btn {
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.wrapper .btn:hover {
    background: #f0f0f0;
}

.login-link a:hover {
    text-decoration: underline;
}

.login-link a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.login-link {
    font-size: 15.5px;
    text-align: center;
    margin: 40px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}